# Before you start :
   - Keep in mind that you need to use some of the functions you learned in the previous lessons.
   - All datasets are provided in the IronHack database.
   - Elaborate your codes and outputs as much as you can.
   - Try your best to answer the questions and complete the tasks and most importantly enjoy the process!!!

#### Import all the libraries that are necessary

In [2]:
import numpy as np
import pandas as pd

# Challenge 1

#### In this challenge we will use the `Temp_States`  database. 

#### First import it into a data frame called `temp`.

In [3]:
temp = pd.read_csv('states.csv')

#### Print `temp`

In [ ]:
temp.drop('Unnamed: 0', axis=1, inplace=True)

In [14]:
temp

         City        State  Temperature
0         NYC     New York    19.444444
1      Albany     New York     9.444444
2     Buffalo     New York     3.333333
3    Hartford  Connecticut    17.222222
4  Bridgeport  Connecticut    14.444444
5      Treton   New Jersey    22.222222
6      Newark   New Jersey    20.000000

#### Explore the data types of the Temp dataframe. What type of data do we have? Comment your result.

In [16]:
temp.dtypes

City            object
State           object
Temperature    float64
dtype: object

The data types are object for City and State (which is the equivalent of string in python) and float64 for Temperature. Therefore nothing needs to be changed.

#### Select the rows where state is New York

In [18]:
temp[temp['State']=='New York']

      City     State  Temperature
0      NYC  New York    19.444444
1   Albany  New York     9.444444
2  Buffalo  New York     3.333333

#### What is the average of the temperature of cities in New York?

In [19]:
temp[temp['State']=='New York'].mean()

Temperature    10.740741
dtype: float64

#### We want to know cities and states with Temperature above 15 degress Celcius

In [21]:
temp[temp['Temperature']>15]

       City        State  Temperature
0       NYC     New York    19.444444
3  Hartford  Connecticut    17.222222
5    Treton   New Jersey    22.222222
6    Newark   New Jersey    20.000000

#### Now, return only the cities that have a temperature above 15 degress Celcius

In [24]:
temp[temp['Temperature']>15][['City']]

       City
0       NYC
3  Hartford
5    Treton
6    Newark

#### We want to know which cities have a temperature above 15 degrees Celcius and below 20 degrees Celcius

*Hint: First write the condition then select the rows.*

In [30]:
temp[(temp['Temperature']>15) & (temp['Temperature']<20)]

       City        State  Temperature
0       NYC     New York    19.444444
3  Hartford  Connecticut    17.222222

#### Find the mean and the standard deviation of the temperature of each state.

*Hint: Use functions from Data Manipulation lesson*

In [32]:
temp.groupby('State').mean()

             Temperature
State
Connecticut    15.833333
New Jersey     21.111111
New York       10.740741

In [33]:
temp.groupby('State').std()

             Temperature
State
Connecticut     1.964186
New Jersey      1.571348
New York        8.133404

# Challenge 2

#### Load the `employees` database into a DataFrame. Call the dataframe `employees`

In [34]:
employees = pd.read_csv('employees.csv')

In [37]:
employees.drop('Unnamed: 0', axis=1, inplace=True)

In [38]:
employees.head()

     Name Department Education Gender      Title  Years  Salary
0    Jose         IT  Bachelor      M    analyst      1      35
1   Maria         IT    Master      F    analyst      2      30
2   David         HR    Master      M    analyst      2      30
3   Sonia         HR  Bachelor      F    analyst      4      35
4  Samuel      Sales    Master      M  associate      3      55

#### Explore the data types of the Temp dataframe. Comment your results

In [39]:
employees.dtypes

Name          object
Department    object
Education     object
Gender        object
Title         object
Years          int64
Salary         int64
dtype: object

The data types are object for all text fields except for the numeric fields (years and salary), which are int64.

#### What's the average salary in this company?

In [40]:
employees['Salary'].mean()

48.888888888888886

#### What's the highest salary?

In [41]:
employees['Salary'].max()

70

#### What's the lowest salary?

In [42]:
employees['Salary'].min()

30

#### Who are the employees with the lowest salary?

In [43]:
employees[employees['Salary'] == employees['Salary'].min()]

    Name Department Education Gender    Title  Years  Salary
1  Maria         IT    Master      F  analyst      2      30
2  David         HR    Master      M  analyst      2      30

#### Could you give all the information about an employee called David?

In [44]:
employees[employees['Name']=='David']

    Name Department Education Gender    Title  Years  Salary
2  David         HR    Master      M  analyst      2      30

#### Could you give only David's salary?

In [46]:
employees[employees['Name']=='David'][['Salary']]

   Salary
2      30

#### Print all the rows where job title is associate

In [47]:
employees[employees['Title']=='associate']

     Name Department Education Gender      Title  Years  Salary
4  Samuel      Sales    Master      M  associate      3      55
5     Eva      Sales  Bachelor      F  associate      2      55
7   Pedro         IT       Phd      M  associate      7      60

#### Print the first 3 rows of your dataframe

##### Tip : There are 2 ways to do it. Do it both ways

In [48]:
employees.head(3)

    Name Department Education Gender    Title  Years  Salary
0   Jose         IT  Bachelor      M  analyst      1      35
1  Maria         IT    Master      F  analyst      2      30
2  David         HR    Master      M  analyst      2      30

In [52]:
employees.iloc[:3]

    Name Department Education Gender    Title  Years  Salary
0   Jose         IT  Bachelor      M  analyst      1      35
1  Maria         IT    Master      F  analyst      2      30
2  David         HR    Master      M  analyst      2      30

#### Find the employees who's title is associate and the salary above 55?

In [53]:
employees[(employees['Title']=='associate') & (employees['Salary'] > 55)]

    Name Department Education Gender      Title  Years  Salary
7  Pedro         IT       Phd      M  associate      7      60

#### Group the employees based on their number of years of employment. What are the average salaries in each group?

In [55]:
employees.groupby('Years').mean()

          Salary
Years
1      35.000000
2      38.333333
3      55.000000
4      35.000000
7      60.000000
8      70.000000

####  What is the average Salary per title?

In [58]:
employees.groupby('Title').mean()[['Salary']]

              Salary
Title
VP         70.000000
analyst    32.500000
associate  56.666667

####  What are the Salary quartiles?

In [59]:
employees['Salary'].quantile(q=0.25)

35.0

In [60]:
employees['Salary'].quantile(q=0.75)

60.0

#### Is the mean salary per gender different?

In [62]:
employees[employees['Gender']=='M'].mean()['Salary']

50.0

In [63]:
employees[employees['Gender']=='F'].mean()['Salary']

47.5

#### Find the minimum, mean and the maximum of all numeric columns for each Department.

In [65]:
employees[['Years', 'Salary']].min()

Years      1
Salary    30
dtype: int64

In [68]:
employees[['Years', 'Salary']].max()

Years      8
Salary    70
dtype: int64

In [69]:
employees[['Years', 'Salary']].mean()

Years      4.111111
Salary    48.888889
dtype: float64

### Bonus Question

#### For each department, compute the difference between the maximal salary and the minimal salary.

##### * Hint: try using `agg` or `apply` and `lambda`*

In [70]:
employees.head()

     Name Department Education Gender      Title  Years  Salary
0    Jose         IT  Bachelor      M    analyst      1      35
1   Maria         IT    Master      F    analyst      2      30
2   David         HR    Master      M    analyst      2      30
3   Sonia         HR  Bachelor      F    analyst      4      35
4  Samuel      Sales    Master      M  associate      3      55

In [75]:
employees_diff = employees.groupby('Department').agg({'Salary' : ['max', 'min']})
employees_diff

           Salary
              max min
Department
HR             70  30
IT             70  30
Sales          55  55

In [77]:
employees_diff['Salary']['max']

Department
HR       70
IT       70
Sales    55
Name: max, dtype: int64

In [79]:
employees_diff['diff'] = employees_diff['Salary']['max'] - employees_diff['Salary']['min']

In [80]:
employees_diff

           Salary     diff
              max min
Department
HR             70  30   40
IT             70  30   40
Sales          55  55    0

# Challenge 3

#### Open the Orders dataset. Name your dataset orders

In [81]:
orders = pd.read_csv('orders.csv')

In [83]:
orders.drop('Unnamed: 0', axis=1, inplace=True)

In [84]:
orders.head()

,index,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

#### Explore your dataset by looking at the data types and the summary statistics. Comment your results

In [86]:
orders.dtypes

index             int64
InvoiceNo         int64
StockCode        object
year              int64
month             int64
day               int64
hour              int64
Description      object
Quantity          int64
InvoiceDate      object
UnitPrice       float64
CustomerID        int64
Country          object
amount_spent    float64
dtype: object

In [89]:
orders.describe()

,index,InvoiceNo,year,month,day,hour,Quantity,UnitPrice,CustomerID,amount_spent
count,397924.000000,397924.000000,397924.000000,397924.000000,397924.000000,397924.000000,397924.000000,397924.000000,397924.000000,397924.000000
mean,198961.500000,560617.126645,2010.934259,7.612537,3.614555,12.728247,13.021823,3.116174,15294.315171,22.394749
std,114870.908596,13106.167695,0.247829,3.416527,1.928274,2.273535,180.420210,22.096788,1713.169877,309.055588
min,0.000000,536365.000000,2010.000000,1.000000,1.000000,6.000000,1.000000,0.000000,12346.000000,0.000000
25%,99480.750000,549234.000000,2011.000000,5.000000,2.000000,11.000000,2.000000,1.250000,13969.000000,4.680000
50%,198961.500000,561893.000000,2011.000000,8.000000,3.000000,13.000000,6.000000,1.950000,15159.000000,11.800000
75%,298442.250000,572090.000000,2011.000000,11.000000,5.000000,14.000000,12.000000,3.750000,16795.000000,19.800000
max,397923.000000,581587.000000,2011.000000,12.000000,7.000000,20.000000,80995.000000,8142.750000,18287.000000,168469.600000

The majority of columns are numeric: mostly integers but also a couple of floats. The rest are text (object) type.

There is a huge amount of data (n=397924). The data has been collected from the year 2010 to 2011. The mean quantity of each order is 13 items, with a mean unit price of 3.11 and an average spent amount of 22.4.

####  What is the average Purchase Price?

In [90]:
orders['amount_spent'].mean()

22.394748504739596

#### What were the highest and lowest purchase prices?

In [91]:
orders['amount_spent'].max()

168469.6

In [92]:
orders['amount_spent'].min()

0.0

#### Select all the customers we have in Spain

In [94]:
orders[orders['Country']=='Spain']

,index,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
4250,4250,536944,22383,2010,12,5,12,lunch bag suki design,70,2010-12-03 12:20:00,1.65,12557,Spain,115.50
4251,4251,536944,22384,2010,12,5,12,lunch bag pink polkadot,100,2010-12-03 12:20:00,1.45,12557,Spain,145.00
4252,4252,536944,20727,2010,12,5,12,lunch bag black skull.,60,2010-12-03 12:20:00,1.65,12557,Spain,99.00
4253,4253,536944,20725,2010,12,5,12,lunch bag red retrospot,70,2010-12-03 12:20:00,1.65,12557,Spain,115.50
4254,4254,536944,20728,2010,12,5,12,lunch bag cars blue,100,2010-12-03 12:20:00,1.45,12557,Spain,145.00
13974,13974,538095,22504,2010,12,4,14,cabin bag vintage retrospot,1,2010-12-09 14:55:00,29.95,17097,Spain,29.95
13975,13975,538095,22212,2010,12,4,14,four hook white lovebirds,1,2010-12-09 14:55:00,2.10,17097,Spain,2.10
13976,13976,538095,22953,2010,12,4,14,birthday party cordon barrier tape,1,2010-12-09 14:55:00,1.25,17097,Spain,1.25
13977,13977,538095,84818,2010,12,4,14,danish rose photo frame,1,2010-12-09 14:55:00,2.55,17097,Spain,2.55
13978,13978,538095,21114,2010,12,4,14,lavender scented fabric heart,5,2010-12-09 14:55:00,1.25,17097,Spain,6.25
13979,13979,538095,84692,2010,12,4,14,box of 24 cocktail parasols,1,2010-12-09 14:55:00,0.42,17097,Spain,0.42
13980,13980,538095,22796,2010,12,4,14,photo frame 3 classic hanging,2,2010-12-09 14:55:00,9.95,17097,Spain,19.90
13981,13981,538095,40001,2010,12,4,14,white bamboo ribs lampshade,1,2010-12-09 14:55:00,0.85,17097,Spain,0.85
13982,13982,538095,22646,2010,12,4,14,ceramic strawberry cake money bank,1,2010-12-09 14:55:00,1.45,17097,Spain,1.45
13983,13983,538095,21883,2010,12,4,14,stars gift tape,2,2010-12-09 14:55:00,0.65,17097,Spain,1.30
13984,13984,538095,21879,2010,12,4,14,hearts gift tape,2,2010-12-09 14:55:00,0.65,17097,Spain,1.30
13985,13985,538095,22494,2010,12,4,14,emergency first aid tin,2,2010-12-09 14:55:00,1.25,17097,Spain,2.50
13986,13986,538095,47566,2010,12,4,14,party bunting,1,2010-12-09 14:55:00,4.65,17097,Spain,4.65
13987,13987,538095,85123A,2010,12,4,14,white hanging heart t-light holder,1,2010-12-09 14:55:00,2.95,17097,Spain,2.95
13988,13988,538095,21430,2010,12,4,14,set/3 red gingham rose storage box,1,2010-12-09 14:55:00,3.75,17097,Spain,3.75
13989,13989,538095,22914,2010,12,4,14,blue coat rack paris fashion,1,2010-12-09 14:55:00,4.95,17097,Spain,4.95
13990,13990,538095,22913,2010,12,4,14,red coat rack paris fashion,1,2010-12-09 14:55:00,4.95,17097,Spain,4.95
13991,13991,538095,22912,2010,12,4,14,yellow coat rack paris fashion,1,2010-12-09 14:55:00,4.95,17097,Spain,4.95
13992,13992,538095,22631,2010,12,4,14,circus parade lunch box,1,2010-12-09 14:55:00,1.95,17097,Spain,1.95
13993,13993,538095,22497,2010,12,4,14,set of 2 tins vintage bathroom,2,2010-12-09 14:55:00,4.25,17097,Spain,8.50
13994,13994,538095,22909,2010,12,4,14,set of 20 vintage christmas napkins,2,2010-12-09 14:55:00,0.85,17097,Spain,1.70
13995,13995,538095,22862,2010,12,4,14,love heart napkin box,1,2010-12-09 14:55:00,4.25,17097,Spain,4.25
13996,13996,538095,22726,2010,12,4,14,alarm clock bakelike green,2,2010-12-09 14:55:00,3.75,17097,Spain,7.50
13997,13997,538095,20828,2010,12,4,14,glitter butterfly clips,1,2010-12-09 14:55:00,2.55,17097,Spain,2.55
13998,13998,538095,20829,2010,12,4,14,glitter hanging butterfly string,1,2010-12-09 14:55:00,2.10,17097,Spain,2.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394708,394708,581193,23452,2011,12,3,17,heart mini portrait frame,2,2011-12-07 17:05:00,1.95,17097,Spain,3.90
394709,394709,581193,22907,2011,12,3,17,pack of 20 napkins pantry design,1,2011-12-07 17:05:00,0.85,17097,Spain,0.85
394710,394710,581193,22851,2011,12,3,17,set 20 napkins fairy cakes design,1,2011-12-07 17:05:00,0.85,17097,Spain,0.85
394711,394711,581193,23209,2011,12,3,17,lunch bag vintage doily,1,2011-12-07 17:05:00,1.65,17097,Spain,1.65
394712,394712,581193,22662,2011,12,3,17,lunch bag dolly girl design,1,2011-12-07 17:05:00,1.65,17097,Spain,1.65
394713,394713,581193,23583,2011,12,3,17,lunch bag paisley park,1,2011-12-07 17:05:00,1.65,17097,Spain,1.65
394714,394714,581193,22896,2011,12,3,17,peg bag apples design,1,2011-12-07 17:05:00,2.55,17097,Spain,2.55
394715,394715,581193,23203,2011,12,3,17,jumbo bag vintage doily,1,2011-12-07 17:05:00,2.08,17097,Spain,2.08
394716,394716,581193,22393,2011,12,3,17,paperweight vintage collage,2,2011-12-07 17:05:00,0.39,17097,Spain,0.78
394717,394717,581193,22391,2011,12,3,17,paperweight home sweet home,2,2011-12-07 17:05:00,0.39,17097,Spain,0.78
394718,394718,581193,23454,2011,12,3,17,three mini hanging frames,1,2011-12-07 17:05:00,4.15,17097,Spain,4.15
394719,394719,581193,84536A,2011,12,3,17,english rose notebook a7 size,2,2011-12-07 17:05:00,0.42,17097,Spain,0.84
394720,394720,581193,84535B,2011,12,3,17,fairy cakes notebook a6 size,2,2011-12-07 17:05:00,0.65,17097,Spain,1.30
394721,394721,581193,22755,2011,12,3,17,small purple babushka notebook,1,2011-12-07 17:05:00,0.21,17097,Spain,0.21
394722,394722,581193,22753,2011,12,3,17,small yellow babushka notebook,1,2011-12-07 17:05:00,0.21,17097,Spain,0.21
394723,394723,581193,22754,2011,12,3,17,small red babushka notebook,1,2011-12-07 17:05:00,0.21,17097,Spain,0.21
394724,394724,581193,23372,2011,12,3,17,set 36 colour pencils dolly girl,1,2011-12-07 17:05:00,1.25,17097,Spain,1.25
394725,394725,581193,23371,2011,12,3,17,set 36 colour pencils spaceboy,1,2011-12-07 17:05:00,1.25,17097,Spain,1.25
394726,394726,581193,23254,2011,12,3,17,childrens cutlery dolly girl,1,2011-12-07 17:05:00,4.15,17097,Spain,4.15
394727,394727,581193,22326,2011,12,3,17,round snack boxes set of4 woodland,2,2011-12-07 17:05:00,2.95,17097,Spain,5.90
394728,394728,581193,22629,2011,12,3,17,spaceboy lunch box,1,2011-12-07 17:05:00,1.95,17097,Spain,1.95
394729,394729,581193,22631,2011,12,3,17,circus parade lunch box,1,2011-12-07 17:05:00,1.95,17097,Spain,1.95
394730,394730,581193,23290,2011,12,3,17,spaceboy childrens bowl,2,2011-12-07 17:05:00,1.25,17097,Spain,2.50
394731,394731,581193,23289,2011,12,3,17,dolly girl childrens bowl,2,2011-12-07 17:05:00,1.25,17097,Spain,2.50
394732,394732,581193,23292,2011,12,3,17,spaceboy childrens cup,2,2011-12-07 17:05:00,1.25,17097,Spain,2.50
394733,394733,581193,23291,2011,12,3,17,dolly girl childrens cup,2,2011-12-07 17:05:00,1.25,17097,Spain,2.50
394734,394734,581193,85232D,2011,12,3,17,set/3 decoupage stacking tins,1,2011-12-07 17:05:00,4.95,17097,Spain,4.95
394735,394735,581193,22721,2011,12,3,17,set of 3 cake tins sketchbook,2,2011-12-07 17:05:00,1.95,17097,Spain,3.90
394736,394736,581193,23241,2011,12,3,17,treasure tin gymkhana design,1,2011-12-07 17:05:00,2.08,17097,Spain,2.08
394737,394737,581193,23247,2011,12,3,17,biscuit tin 50 s christmas,1,2011-12-07 17:05:00,2.89,17097,Spain,2.89

#### How many customers do we have in Spain?
##### Hint : Use value_counts() method

In [98]:
orders['Country'].value_counts()['Spain']

2485

#### Select all the customers who have bought more than 50 items ?

In [99]:
orders[orders['Quantity']>50]

,index,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
46,46,536371,22086,2010,12,3,9,paper chain kit 50 s christmas,80,2010-12-01 09:00:00,2.55,13748,United Kingdom,204.00
83,83,536376,21733,2010,12,3,9,red hanging heart t-light holder,64,2010-12-01 09:32:00,2.55,15291,United Kingdom,163.20
96,96,536378,21212,2010,12,3,9,pack of 72 retrospot cake cases,120,2010-12-01 09:37:00,0.42,14688,United Kingdom,50.40
102,102,536378,85071B,2010,12,3,9,red charlie+lola personal doorsign,96,2010-12-01 09:37:00,0.38,14688,United Kingdom,36.48
174,174,536386,85099C,2010,12,3,9,jumbo bag baroque black white,100,2010-12-01 09:57:00,1.65,16029,United Kingdom,165.00
175,175,536386,85099B,2010,12,3,9,jumbo bag red retrospot,100,2010-12-01 09:57:00,1.65,16029,United Kingdom,165.00
176,176,536387,79321,2010,12,3,9,chilli lights,192,2010-12-01 09:58:00,3.82,16029,United Kingdom,733.44
177,177,536387,22780,2010,12,3,9,light garland butterfiles pink,192,2010-12-01 09:58:00,3.37,16029,United Kingdom,647.04
178,178,536387,22779,2010,12,3,9,wooden owls light garland,192,2010-12-01 09:58:00,3.37,16029,United Kingdom,647.04
179,179,536387,22466,2010,12,3,9,fairy tale cottage nightlight,432,2010-12-01 09:58:00,1.45,16029,United Kingdom,626.40
180,180,536387,21731,2010,12,3,9,red toadstool led night light,432,2010-12-01 09:58:00,1.25,16029,United Kingdom,540.00
215,215,536390,84970S,2010,12,3,10,hanging heart zinc t-light holder,144,2010-12-01 10:19:00,0.64,17511,United Kingdom,92.16
217,217,536390,20668,2010,12,3,10,disco ball christmas decoration,288,2010-12-01 10:19:00,0.10,17511,United Kingdom,28.80
218,218,536390,85123A,2010,12,3,10,white hanging heart t-light holder,64,2010-12-01 10:19:00,2.55,17511,United Kingdom,163.20
219,219,536390,22197,2010,12,3,10,small popcorn holder,100,2010-12-01 10:19:00,0.72,17511,United Kingdom,72.00
222,222,536390,21080,2010,12,3,10,set/20 red retrospot paper napkins,96,2010-12-01 10:19:00,0.64,17511,United Kingdom,61.44
223,223,536390,21094,2010,12,3,10,set/6 red spotty paper plates,96,2010-12-01 10:19:00,0.64,17511,United Kingdom,61.44
225,225,536390,21786,2010,12,3,10,polkadot rain hat,144,2010-12-01 10:19:00,0.32,17511,United Kingdom,46.08
231,231,536390,22969,2010,12,3,10,homemade jam scented candles,96,2010-12-01 10:19:00,1.25,17511,United Kingdom,120.00
232,232,536390,85099B,2010,12,3,10,jumbo bag red retrospot,100,2010-12-01 10:19:00,1.65,17511,United Kingdom,165.00
245,245,536394,22633,2010,12,3,10,hand warmer union jack,96,2010-12-01 10:39:00,1.85,13408,United Kingdom,177.60
246,246,536394,22866,2010,12,3,10,hand warmer scotty dog design,96,2010-12-01 10:39:00,1.85,13408,United Kingdom,177.60
247,247,536394,22865,2010,12,3,10,hand warmer owl design,96,2010-12-01 10:39:00,1.85,13408,United Kingdom,177.60
248,248,536394,22632,2010,12,3,10,hand warmer red retrospot,96,2010-12-01 10:39:00,1.85,13408,United Kingdom,177.60
376,376,536403,22867,2010,12,3,11,hand warmer bird design,96,2010-12-01 11:27:00,1.85,12791,Netherlands,177.60
406,406,536405,20914,2010,12,3,11,set/5 red retrospot lid glass bowls,128,2010-12-01 11:32:00,2.55,14045,United Kingdom,326.40
673,673,536416,21915,2010,12,3,11,red harmonica in box,72,2010-12-01 11:58:00,1.25,13255,United Kingdom,90.00
718,718,536437,21154,2010,12,3,12,red retrospot oven glove,200,2010-12-01 12:12:00,1.06,13694,United Kingdom,212.00
719,719,536437,22189,2010,12,3,12,cream heart card holder,72,2010-12-01 12:12:00,3.39,13694,United Kingdom,244.08
720,720,536437,17021,2010,12,3,12,namaste swagat incense,600,2010-12-01 12:12:00,0.24,13694,United Kingdom,144.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397113,397113,581457,23542,2011,12,4,18,wall art 70 s alphabet,120,2011-12-08 18:43:00,6.67,18102,United Kingdom,800.40
397114,397114,581457,23531,2011,12,4,18,wall art big love,120,2011-12-08 18:43:00,4.76,18102,United Kingdom,571.20
397115,397115,581457,23535,2011,12,4,18,wall art bicycle safety,126,2011-12-08 18:43:00,3.90,18102,United Kingdom,491.40
397116,397116,581457,23530,2011,12,4,18,wall art only one person,126,2011-12-08 18:43:00,3.57,18102,United Kingdom,449.82
397117,397117,581457,23526,2011,12,4,18,wall art dog licence,126,2011-12-08 18:43:00,3.90,18102,United Kingdom,491.40
397118,397118,581457,23401,2011,12,4,18,rustic mirror with lace heart,126,2011-12-08 18:43:00,4.15,18102,United Kingdom,522.90
397119,397119,581458,22197,2011,12,4,18,popcorn holder,1500,2011-12-08 18:45:00,0.72,17949,United Kingdom,1080.00
397120,397120,581459,22197,2011,12,4,18,popcorn holder,1200,2011-12-08 18:46:00,0.72,17949,United Kingdom,864.00
397155,397155,581467,21167,2011,12,4,19,white sage incense,75,2011-12-08 19:24:00,0.21,13077,United Kingdom,15.75
397330,397330,581476,23167,2011,12,5,8,small ceramic top storage jar,96,2011-12-09 08:48:00,0.69,12433,Norway,66.24
397336,397336,581476,22998,2011,12,5,8,travel card wallet keep calm,72,2011-12-09 08:48:00,0.42,12433,Norway,30.24
397344,397344,581476,22693,2011,12,5,8,grow a flytrap or sunflower in tin,192,2011-12-09 08:48:00,1.06,12433,Norway,203.52
397351,397351,581476,22197,2011,12,5,8,popcorn holder,100,2011-12-09 08:48:00,0.72,12433,Norway,72.00
397371,397371,581476,16014,2011,12,5,8,small chinese style scissor,60,2011-12-09 08:48:00,0.42,12433,Norway,25.20
397372,397372,581476,16008,2011,12,5,8,small folding scissor(pointed edge),240,2011-12-09 08:48:00,0.12,12433,Norway,28.80
397380,397380,581476,72232,2011,12,5,8,feng shui pillar candle,144,2011-12-09 08:48:00,0.19,12433,Norway,27.36
397448,397448,581482,23251,2011,12,5,9,vintage red enamel trim mug,96,2011-12-09 09:08:00,1.04,17490,United Kingdom,99.84
397451,397451,581483,23843,2011,12,5,9,paper craft . little birdie,80995,2011-12-09 09:15:00,2.08,16446,United Kingdom,168469.60
397454,397454,581485,20749,2011,12,5,9,assorted colour mini cases,84,2011-12-09 09:38:00,6.35,17389,United Kingdom,533.40
397471,397471,581487,21137,2011,12,5,9,black record cover frame,120,2011-12-09 09:44:00,3.39,15694,United Kingdom,406.80
397563,397563,581501,22319,2011,12,5,10,hairclips forties fabric assorted,180,2011-12-09 10:46:00,0.19,12985,United Kingdom,34.20
397572,397572,581501,22544,2011,12,5,10,mini jigsaw spaceboy,96,2011-12-09 10:46:00,0.19,12985,United Kingdom,18.24
397586,397586,581501,22545,2011,12,5,10,mini jigsaw bunnies,96,2011-12-09 10:46:00,0.19,12985,United Kingdom,18.24
397622,397622,581514,17091J,2011,12,5,11,vanilla incense in tin,66,2011-12-09 11:20:00,0.38,17754,United Kingdom,25.08
397630,397630,581514,21705,2011,12,5,11,bag 500g swirly marbles,84,2011-12-09 11:20:00,0.39,17754,United Kingdom,32.76
397720,397720,581566,23404,2011,12,5,11,home sweet home blackboard,144,2011-12-09 11:50:00,3.26,18102,United Kingdom,469.44
397721,397721,581567,21417,2011,12,5,11,cockle shell dish,84,2011-12-09 11:56:00,0.79,16626,United Kingdom,66.36
397729,397729,581567,21326,2011,12,5,11,aged glass silver t-light holder,144,2011-12-09 11:56:00,0.55,16626,United Kingdom,79.20
397761,397761,581571,23167,2011,12,5,12,small ceramic top storage jar,96,2011-12-09 12:00:00,0.69,15311,United Kingdom,66.24
397882,397882,581584,20832,2011,12,5,12,red flock love heart photo frame,72,2011-12-09 12:25:00,0.72,13777,United Kingdom,51.84

#### Select orders from Spain that are above 50 items

In [100]:
orders[(orders['Country']=='Spain')&(orders['Quantity']>50)]

,index,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
4250,4250,536944,22383,2010,12,5,12,lunch bag suki design,70,2010-12-03 12:20:00,1.65,12557,Spain,115.50
4251,4251,536944,22384,2010,12,5,12,lunch bag pink polkadot,100,2010-12-03 12:20:00,1.45,12557,Spain,145.00
4252,4252,536944,20727,2010,12,5,12,lunch bag black skull.,60,2010-12-03 12:20:00,1.65,12557,Spain,99.00
4253,4253,536944,20725,2010,12,5,12,lunch bag red retrospot,70,2010-12-03 12:20:00,1.65,12557,Spain,115.50
4254,4254,536944,20728,2010,12,5,12,lunch bag cars blue,100,2010-12-03 12:20:00,1.45,12557,Spain,145.00
32454,32454,540785,84997B,2011,1,2,11,red 3 piece retrospot cutlery set,144,2011-01-11 11:39:00,3.39,12557,Spain,488.16
32455,32455,540785,84997D,2011,1,2,11,pink 3 piece polkadot cutlery set,360,2011-01-11 11:39:00,3.39,12557,Spain,1220.40
32456,32456,540785,84997C,2011,1,2,11,blue 3 piece polkadot cutlery set,360,2011-01-11 11:39:00,3.39,12557,Spain,1220.40
32457,32457,540785,84997A,2011,1,2,11,green 3 piece polkadot cutlery set,144,2011-01-11 11:39:00,3.39,12557,Spain,488.16
91155,91155,547972,22383,2011,3,1,16,lunch bag suki design,150,2011-03-28 16:41:00,1.45,12557,Spain,217.50
91156,91156,547972,22384,2011,3,1,16,lunch bag pink polkadot,150,2011-03-28 16:41:00,1.45,12557,Spain,217.50
91159,91159,547972,20728,2011,3,1,16,lunch bag cars blue,150,2011-03-28 16:41:00,1.45,12557,Spain,217.50
174442,174442,558871,22384,2011,7,1,13,lunch bag pink polkadot,100,2011-07-04 13:19:00,1.45,12557,Spain,145.00
174443,174443,558871,20727,2011,7,1,13,lunch bag black skull.,100,2011-07-04 13:19:00,1.45,12557,Spain,145.00
174444,174444,558871,20725,2011,7,1,13,lunch bag red retrospot,100,2011-07-04 13:19:00,1.45,12557,Spain,145.00
174445,174445,558871,20728,2011,7,1,13,lunch bag cars blue,100,2011-07-04 13:19:00,1.45,12557,Spain,145.00
174446,174446,558871,84997B,2011,7,1,13,childrens cutlery retrospot red,72,2011-07-04 13:19:00,3.75,12557,Spain,270.00
174447,174447,558871,84997D,2011,7,1,13,childrens cutlery polkadot pink,360,2011-07-04 13:19:00,3.75,12557,Spain,1350.00
174448,174448,558871,84997C,2011,7,1,13,childrens cutlery polkadot blue,360,2011-07-04 13:19:00,3.75,12557,Spain,1350.00
174449,174449,558871,84997A,2011,7,1,13,childrens cutlery polkadot green,72,2011-07-04 13:19:00,3.75,12557,Spain,270.00
197167,197167,561669,23295,2011,7,4,17,set of 12 mini loaf baking cases,128,2011-07-28 17:09:00,0.72,12507,Spain,92.16
197168,197168,561669,23297,2011,7,4,17,set 40 heart shape petit four cases,144,2011-07-28 17:09:00,1.45,12507,Spain,208.80
197169,197169,561669,23294,2011,7,4,17,set of 6 snack loaf baking cases,128,2011-07-28 17:09:00,0.72,12507,Spain,92.16
197170,197170,561669,23296,2011,7,4,17,set of 6 tea time baking cases,128,2011-07-28 17:09:00,1.04,12507,Spain,133.12
197171,197171,561669,23293,2011,7,4,17,set of 12 fairy cake baking cases,128,2011-07-28 17:09:00,0.72,12507,Spain,92.16
224881,224881,564734,84826,2011,8,7,13,asstd design 3d paper stickers,60,2011-08-28 13:32:00,0.85,12484,Spain,51.00
254097,254097,567968,85204,2011,9,5,9,hanging wood and felt flower,96,2011-09-23 09:44:00,0.12,12546,Spain,11.52
289129,289129,571255,82494L,2011,10,5,17,wooden frame antique white,72,2011-10-14 17:13:00,2.55,12454,Spain,183.60
289134,289134,571255,82482,2011,10,5,17,wooden picture frame white finish,72,2011-10-14 17:13:00,2.55,12454,Spain,183.60
289142,289142,571255,72802B,2011,10,5,17,ocean scent candle in jewelled box,200,2011-10-14 17:13:00,1.25,12454,Spain,250.00
289143,289143,571255,72802C,2011,10,5,17,vanilla scent candle jewelled box,288,2011-10-14 17:13:00,1.25,12454,Spain,360.00
295956,295956,571851,23167,2011,10,3,13,small ceramic top storage jar,96,2011-10-19 13:02:00,0.69,12596,Spain,66.24
312655,312655,573362,22598,2011,10,7,13,christmas musical zinc tree,72,2011-10-30 13:06:00,0.29,12597,Spain,20.88
312656,312656,573362,22597,2011,10,7,13,musical zinc heart decoration,72,2011-10-30 13:06:00,0.29,12597,Spain,20.88
312657,312657,573362,22599,2011,10,7,13,christmas musical zinc star,72,2011-10-30 13:06:00,0.29,12597,Spain,20.88
366326,366326,578321,20728,2011,11,3,16,lunch bag cars blue,200,2011-11-23 16:59:00,1.45,12557,Spain,290.00
366327,366327,578321,84997B,2011,11,3,16,childrens cutlery retrospot red,72,2011-11-23 16:59:00,3.75,12557,Spain,270.00
366328,366328,578321,84997D,2011,11,3,16,childrens cutlery polkadot pink,360,2011-11-23 16:59:00,3.75,12557,Spain,1350.00
366329,366329,578321,84997C,2011,11,3,16,childrens cutlery polkadot blue,288,2011-11-23 16:59:00,3.75,12557,Spain,1080.00

#### Select all free orders

In [101]:
orders[orders['amount_spent']==0]

,index,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
6914,6914,537197,22841,2010,12,7,14,round cake tin vintage green,1,2010-12-05 14:02:00,0.0,12647,Germany,0.0
22539,22539,539263,22580,2010,12,4,14,advent calendar gingham sack,4,2010-12-16 14:36:00,0.0,16560,United Kingdom,0.0
25379,25379,539722,22423,2010,12,2,13,regency cakestand 3 tier,10,2010-12-21 13:45:00,0.0,14911,EIRE,0.0
29080,29080,540372,22090,2011,1,4,16,paper bunting retrospot,24,2011-01-06 16:41:00,0.0,13081,United Kingdom,0.0
29082,29082,540372,22553,2011,1,4,16,plasters in tin skulls,24,2011-01-06 16:41:00,0.0,13081,United Kingdom,0.0
34494,34494,541109,22168,2011,1,4,15,organiser wood antique white,1,2011-01-13 15:10:00,0.0,15107,United Kingdom,0.0
53788,53788,543599,84535B,2011,2,4,13,fairy cakes notebook a6 size,16,2011-02-10 13:08:00,0.0,17560,United Kingdom,0.0
85671,85671,547417,22062,2011,3,3,10,ceramic bowl with love heart design,36,2011-03-23 10:25:00,0.0,13239,United Kingdom,0.0
92875,92875,548318,22055,2011,3,3,12,mini cake stand hanging strawbery,5,2011-03-30 12:45:00,0.0,13113,United Kingdom,0.0
97430,97430,548871,22162,2011,4,1,14,heart garland rustic padded,2,2011-04-04 14:42:00,0.0,14410,United Kingdom,0.0
107192,107192,550188,22636,2011,4,4,18,childs breakfast set circus parade,1,2011-04-14 18:57:00,0.0,12457,Switzerland,0.0
128641,128641,553000,47566,2011,5,4,15,party bunting,4,2011-05-12 15:21:00,0.0,17667,United Kingdom,0.0
137127,137127,554037,22619,2011,5,5,14,set of 6 soldier skittles,80,2011-05-20 14:13:00,0.0,12415,Australia,0.0
194648,194648,561284,22167,2011,7,2,12,oval wall mirror diamante,1,2011-07-26 12:24:00,0.0,16818,United Kingdom,0.0
197173,197173,561669,22960,2011,7,4,17,jam making set with jars,11,2011-07-28 17:09:00,0.0,12507,Spain,0.0
199711,199711,561916,M,2011,8,1,11,manual,1,2011-08-01 11:44:00,0.0,15581,United Kingdom,0.0
208950,208950,562973,23157,2011,8,4,11,set of 6 nativity magnets,240,2011-08-11 11:42:00,0.0,14911,EIRE,0.0
223931,223931,564651,23270,2011,8,5,14,set of 2 ceramic painted hearts,96,2011-08-26 14:19:00,0.0,14646,Netherlands,0.0
223932,223932,564651,23268,2011,8,5,14,set of 2 ceramic christmas reindeer,192,2011-08-26 14:19:00,0.0,14646,Netherlands,0.0
223933,223933,564651,22955,2011,8,5,14,36 foil star cake cases,144,2011-08-26 14:19:00,0.0,14646,Netherlands,0.0
223934,223934,564651,21786,2011,8,5,14,polkadot rain hat,144,2011-08-26 14:19:00,0.0,14646,Netherlands,0.0
256263,256263,568158,PADS,2011,9,7,12,pads to match all cushions,1,2011-09-25 12:22:00,0.0,16133,United Kingdom,0.0
259399,259399,568384,M,2011,9,2,9,manual,1,2011-09-27 09:46:00,0.0,12748,United Kingdom,0.0
273926,273926,569716,22778,2011,10,4,8,glass cloche small,2,2011-10-06 08:17:00,0.0,15804,United Kingdom,0.0
286507,286507,571035,M,2011,10,4,12,manual,1,2011-10-13 12:50:00,0.0,12446,RSA,0.0
307092,307092,572893,21208,2011,10,3,14,pastel colour honeycomb fan,5,2011-10-26 14:36:00,0.0,18059,United Kingdom,0.0
319882,319882,574138,23234,2011,11,4,11,biscuit tin vintage christmas,216,2011-11-03 11:26:00,0.0,12415,Australia,0.0
320049,320049,574175,22065,2011,11,4,11,christmas pudding trinket pot,12,2011-11-03 11:47:00,0.0,14110,United Kingdom,0.0
320407,320407,574252,M,2011,11,4,13,manual,1,2011-11-03 13:24:00,0.0,12437,France,0.0
322279,322279,574469,22385,2011,11,5,11,jumbo bag spaceboy design,12,2011-11-04 11:55:00,0.0,12431,Australia,0.0
328385,328385,574879,22625,2011,11,1,13,red kitchen scales,2,2011-11-07 13:22:00,0.0,13014,United Kingdom,0.0
329006,329006,574920,22899,2011,11,1,16,children s apron dolly girl,1,2011-11-07 16:34:00,0.0,13985,United Kingdom,0.0
329007,329007,574920,23480,2011,11,1,16,mini lights woodland mushrooms,1,2011-11-07 16:34:00,0.0,13985,United Kingdom,0.0
334242,334242,575579,22437,2011,11,4,11,set of 9 black skull balloons,20,2011-11-10 11:49:00,0.0,13081,United Kingdom,0.0
334243,334243,575579,22089,2011,11,4,11,paper bunting vintage paisley,24,2011-11-10 11:49:00,0.0,13081,United Kingdom,0.0
352746,352746,577129,22464,2011,11,4,19,hanging metal heart lantern,4,2011-11-17 19:52:00,0.0,15602,United Kingdom,0.0
353097,353097,577168,M,2011,11,5,10,manual,1,2011-11-18 10:42:00,0.0,12603,Germany,0.0
354170,354170,577314,23407,2011,11,5,13,set of 2 trays home sweet home,2,2011-11-18 13:23:00,0.0,12444,Norway,0.0
358629,358629,577696,M,2011,11,1,11,manual,1,2011-11-21 11:57:00,0.0,16406,United Kingdom,0.0
370473,370473,578841,84826,2011,11,5,15,asstd design 3d paper stickers,12540,2011-11-25 15:57:00,0.0,13256,United Kingdom,0.0

#### Select all orders that are 'lunch bag'
#### Hint: Use string functions

In [108]:
orders[orders['Description'].str.contains('lunch bag')]

,index,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
93,93,536378,20725,2010,12,3,9,lunch bag red retrospot,10,2010-12-01 09:37:00,1.65,14688,United Kingdom,16.50
172,172,536385,22662,2010,12,3,9,lunch bag dolly girl design,10,2010-12-01 09:56:00,1.65,17420,United Kingdom,16.50
354,354,536401,22662,2010,12,3,11,lunch bag dolly girl design,1,2010-12-01 11:21:00,1.65,15862,United Kingdom,1.65
359,359,536401,20725,2010,12,3,11,lunch bag red retrospot,1,2010-12-01 11:21:00,1.65,15862,United Kingdom,1.65
360,360,536401,22382,2010,12,3,11,lunch bag spaceboy design,2,2010-12-01 11:21:00,1.65,15862,United Kingdom,3.30
361,361,536401,20726,2010,12,3,11,lunch bag woodland,1,2010-12-01 11:21:00,1.65,15862,United Kingdom,1.65
362,362,536401,22384,2010,12,3,11,lunch bag pink polkadot,1,2010-12-01 11:21:00,1.65,15862,United Kingdom,1.65
402,402,536404,22383,2010,12,3,11,lunch bag suki design,10,2010-12-01 11:29:00,1.65,16218,United Kingdom,16.50
403,403,536404,20728,2010,12,3,11,lunch bag cars blue,10,2010-12-01 11:29:00,1.65,16218,United Kingdom,16.50
404,404,536404,20727,2010,12,3,11,lunch bag black skull.,10,2010-12-01 11:29:00,1.65,16218,United Kingdom,16.50
532,532,536412,20728,2010,12,3,11,lunch bag cars blue,3,2010-12-01 11:49:00,1.65,17920,United Kingdom,4.95
533,533,536412,22382,2010,12,3,11,lunch bag spaceboy design,3,2010-12-01 11:49:00,1.65,17920,United Kingdom,4.95
535,535,536412,22662,2010,12,3,11,lunch bag dolly girl design,4,2010-12-01 11:49:00,1.65,17920,United Kingdom,6.60
536,536,536412,22383,2010,12,3,11,lunch bag suki design,3,2010-12-01 11:49:00,1.65,17920,United Kingdom,4.95
537,537,536412,20727,2010,12,3,11,lunch bag black skull.,3,2010-12-01 11:49:00,1.65,17920,United Kingdom,4.95
605,605,536412,20725,2010,12,3,11,lunch bag red retrospot,1,2010-12-01 11:49:00,1.65,17920,United Kingdom,1.65
1414,1414,536542,22382,2010,12,3,14,lunch bag spaceboy design,10,2010-12-01 14:11:00,1.65,16456,United Kingdom,16.50
1415,1415,536542,20727,2010,12,3,14,lunch bag black skull.,10,2010-12-01 14:11:00,1.65,16456,United Kingdom,16.50
1416,1416,536542,22383,2010,12,3,14,lunch bag suki design,20,2010-12-01 14:11:00,1.65,16456,United Kingdom,33.00
1748,1748,536576,20727,2010,12,3,16,lunch bag black skull.,60,2010-12-01 16:11:00,1.45,13777,United Kingdom,87.00
1758,1758,536577,20725,2010,12,3,16,lunch bag red retrospot,60,2010-12-01 16:13:00,1.45,13777,United Kingdom,87.00
1771,1771,536579,20727,2010,12,3,16,lunch bag black skull.,60,2010-12-01 16:16:00,1.45,13777,United Kingdom,87.00
1926,1926,536597,22384,2010,12,3,17,lunch bag pink polkadot,1,2010-12-01 17:35:00,1.65,18011,United Kingdom,1.65
1935,1935,536597,20726,2010,12,3,17,lunch bag woodland,1,2010-12-01 17:35:00,1.65,18011,United Kingdom,1.65
2334,2334,536634,20727,2010,12,4,11,lunch bag black skull.,20,2010-12-02 11:21:00,1.65,18041,United Kingdom,33.00
2529,2529,536643,22662,2010,12,4,11,lunch bag dolly girl design,2,2010-12-02 11:57:00,1.65,14390,United Kingdom,3.30
2676,2676,536698,22382,2010,12,4,12,lunch bag spaceboy design,10,2010-12-02 12:28:00,1.65,15363,United Kingdom,16.50
3059,3059,536754,22384,2010,12,4,14,lunch bag pink polkadot,3,2010-12-02 14:09:00,1.65,14449,United Kingdom,4.95
3060,3060,536754,20727,2010,12,4,14,lunch bag black skull.,3,2010-12-02 14:09:00,1.65,14449,United Kingdom,4.95
3064,3064,536754,22383,2010,12,4,14,lunch bag suki design,5,2010-12-02 14:09:00,1.65,14449,United Kingdom,8.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
396300,396300,581412,20726,2011,12,4,14,lunch bag woodland,2,2011-12-08 14:38:00,1.65,14415,United Kingdom,3.30
396301,396301,581412,20725,2011,12,4,14,lunch bag red retrospot,3,2011-12-08 14:38:00,1.65,14415,United Kingdom,4.95
396302,396302,581412,23583,2011,12,4,14,lunch bag paisley park,3,2011-12-08 14:38:00,1.65,14415,United Kingdom,4.95
396303,396303,581412,20727,2011,12,4,14,lunch bag black skull.,1,2011-12-08 14:38:00,1.65,14415,United Kingdom,1.65
396307,396307,581412,23583,2011,12,4,14,lunch bag paisley park,2,2011-12-08 14:38:00,1.65,14415,United Kingdom,3.30
396308,396308,581412,20727,2011,12,4,14,lunch bag black skull.,3,2011-12-08 14:38:00,1.65,14415,United Kingdom,4.95
396408,396408,581413,23208,2011,12,4,14,lunch bag vintage leaf design,10,2011-12-08 14:39:00,1.65,16833,United Kingdom,16.50
396414,396414,581413,22662,2011,12,4,14,lunch bag dolly girl design,10,2011-12-08 14:39:00,1.65,16833,United Kingdom,16.50
396416,396416,581413,22382,2011,12,4,14,lunch bag spaceboy design,10,2011-12-08 14:39:00,1.65,16833,United Kingdom,16.50
396419,396419,581413,20727,2011,12,4,14,lunch bag black skull.,10,2011-12-08 14:39:00,1.65,16833,United Kingdom,16.50
396530,396530,581418,23681,2011,12,4,15,lunch bag red vintage doily,10,2011-12-08 15:02:00,1.65,17451,United Kingdom,16.50
396572,396572,581420,23207,2011,12,4,15,lunch bag alphabet design,10,2011-12-08 15:09:00,1.65,16358,United Kingdom,16.50
396573,396573,581420,20726,2011,12,4,15,lunch bag woodland,10,2011-12-08 15:09:00,1.65,16358,United Kingdom,16.50
396574,396574,581420,23209,2011,12,4,15,lunch bag vintage doily,10,2011-12-08 15:09:00,1.65,16358,United Kingdom,16.50
396575,396575,581420,23208,2011,12,4,15,lunch bag vintage leaf design,10,2011-12-08 15:09:00,1.65,16358,United Kingdom,16.50
396576,396576,581420,22382,2011,12,4,15,lunch bag spaceboy design,10,2011-12-08 15:09:00,1.65,16358,United Kingdom,16.50
396721,396721,581426,23206,2011,12,4,15,lunch bag apple design,1,2011-12-08 15:31:00,1.65,17757,United Kingdom,1.65
396970,396970,581450,20725,2011,12,4,17,lunch bag red retrospot,1,2011-12-08 17:54:00,1.65,16794,United Kingdom,1.65
396971,396971,581450,23206,2011,12,4,17,lunch bag apple design,2,2011-12-08 17:54:00,1.65,16794,United Kingdom,3.30
396972,396972,581450,23209,2011,12,4,17,lunch bag vintage doily,4,2011-12-08 17:54:00,1.65,16794,United Kingdom,6.60
397006,397006,581451,23583,2011,12,4,17,lunch bag paisley park,10,2011-12-08 17:57:00,1.65,17144,United Kingdom,16.50
397038,397038,581453,22383,2011,12,4,18,lunch bag suki design,10,2011-12-08 18:15:00,1.65,16401,United Kingdom,16.50
397047,397047,581453,23583,2011,12,4,18,lunch bag paisley park,10,2011-12-08 18:15:00,1.65,16401,United Kingdom,16.50
397255,397255,581473,23207,2011,12,4,19,lunch bag alphabet design,2,2011-12-08 19:57:00,1.65,12748,United Kingdom,3.30
397298,397298,581474,20726,2011,12,4,20,lunch bag woodland,1,2011-12-08 20:01:00,1.65,12748,United Kingdom,1.65
397465,397465,581486,23207,2011,12,5,9,lunch bag alphabet design,10,2011-12-09 09:38:00,1.65,17001,United Kingdom,16.50
397713,397713,581538,20727,2011,12,5,11,lunch bag black skull.,1,2011-12-09 11:34:00,1.65,14446,United Kingdom,1.65
397714,397714,581538,20725,2011,12,5,11,lunch bag red retrospot,1,2011-12-09 11:34:00,1.65,14446,United Kingdom,1.65
397877,397877,581581,23681,2011,12,5,12,lunch bag red vintage doily,10,2011-12-09 12:20:00,1.65,17581,United Kingdom,16.50
397880,397880,581583,20725,2011,12,5,12,lunch bag red retrospot,40,2011-12-09 12:23:00,1.45,13777,United Kingdom,58.00

#### Select all orders that are made in 2011 and are 'lunch bag'

In [109]:
orders[(orders['Description'].str.contains('lunch bag')) & (orders['year']==2011)]

,index,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
26340,26340,540015,20725,2011,1,2,11,lunch bag red retrospot,10,2011-01-04 11:40:00,1.65,13319,United Kingdom,16.50
26341,26341,540015,20726,2011,1,2,11,lunch bag woodland,10,2011-01-04 11:40:00,1.65,13319,United Kingdom,16.50
26512,26512,540023,22382,2011,1,2,12,lunch bag spaceboy design,2,2011-01-04 12:58:00,1.65,15039,United Kingdom,3.30
26513,26513,540023,20726,2011,1,2,12,lunch bag woodland,1,2011-01-04 12:58:00,1.65,15039,United Kingdom,1.65
26860,26860,540098,22384,2011,1,2,15,lunch bag pink polkadot,1,2011-01-04 15:50:00,1.65,16241,United Kingdom,1.65
26861,26861,540098,22383,2011,1,2,15,lunch bag suki design,1,2011-01-04 15:50:00,1.65,16241,United Kingdom,1.65
26862,26862,540098,22382,2011,1,2,15,lunch bag spaceboy design,1,2011-01-04 15:50:00,1.65,16241,United Kingdom,1.65
26863,26863,540098,20727,2011,1,2,15,lunch bag black skull.,1,2011-01-04 15:50:00,1.65,16241,United Kingdom,1.65
26864,26864,540098,20727,2011,1,2,15,lunch bag black skull.,1,2011-01-04 15:50:00,1.65,16241,United Kingdom,1.65
26902,26902,540099,20725,2011,1,2,16,lunch bag red retrospot,10,2011-01-04 16:41:00,1.65,15808,United Kingdom,16.50
26903,26903,540099,20726,2011,1,2,16,lunch bag woodland,10,2011-01-04 16:41:00,1.65,15808,United Kingdom,16.50
27118,27118,540157,22384,2011,1,3,11,lunch bag pink polkadot,1,2011-01-05 11:41:00,1.65,15311,United Kingdom,1.65
27242,27242,540168,22383,2011,1,3,12,lunch bag suki design,10,2011-01-05 12:15:00,1.65,13715,United Kingdom,16.50
27360,27360,540176,22382,2011,1,3,12,lunch bag spaceboy design,100,2011-01-05 12:40:00,1.45,17511,United Kingdom,145.00
27361,27361,540176,20725,2011,1,3,12,lunch bag red retrospot,100,2011-01-05 12:40:00,1.45,17511,United Kingdom,145.00
27727,27727,540247,22383,2011,1,3,15,lunch bag suki design,1,2011-01-05 15:56:00,1.65,15464,United Kingdom,1.65
27758,27758,540247,20728,2011,1,3,15,lunch bag cars blue,2,2011-01-05 15:56:00,1.65,15464,United Kingdom,3.30
27760,27760,540247,22382,2011,1,3,15,lunch bag spaceboy design,3,2011-01-05 15:56:00,1.65,15464,United Kingdom,4.95
28100,28100,540268,20725,2011,1,4,11,lunch bag red retrospot,10,2011-01-06 11:25:00,1.65,13458,United Kingdom,16.50
28136,28136,540268,20726,2011,1,4,11,lunch bag woodland,10,2011-01-06 11:25:00,1.65,13458,United Kingdom,16.50
28137,28137,540268,20728,2011,1,4,11,lunch bag cars blue,10,2011-01-06 11:25:00,1.65,13458,United Kingdom,16.50
28138,28138,540268,22384,2011,1,4,11,lunch bag pink polkadot,10,2011-01-06 11:25:00,1.65,13458,United Kingdom,16.50
28183,28183,540275,20728,2011,1,4,12,lunch bag cars blue,30,2011-01-06 12:11:00,1.65,13680,United Kingdom,49.50
28188,28188,540275,20726,2011,1,4,12,lunch bag woodland,40,2011-01-06 12:11:00,1.65,13680,United Kingdom,66.00
28189,28189,540275,20727,2011,1,4,12,lunch bag black skull.,30,2011-01-06 12:11:00,1.65,13680,United Kingdom,49.50
28201,28201,540275,20725,2011,1,4,12,lunch bag red retrospot,100,2011-01-06 12:11:00,1.45,13680,United Kingdom,145.00
28218,28218,540276,20728,2011,1,4,12,lunch bag cars blue,30,2011-01-06 12:16:00,1.65,14680,United Kingdom,49.50
28219,28219,540276,20727,2011,1,4,12,lunch bag black skull.,30,2011-01-06 12:16:00,1.65,14680,United Kingdom,49.50
28220,28220,540276,20726,2011,1,4,12,lunch bag woodland,40,2011-01-06 12:16:00,1.65,14680,United Kingdom,66.00
28221,28221,540276,20725,2011,1,4,12,lunch bag red retrospot,100,2011-01-06 12:16:00,1.45,14680,United Kingdom,145.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
396300,396300,581412,20726,2011,12,4,14,lunch bag woodland,2,2011-12-08 14:38:00,1.65,14415,United Kingdom,3.30
396301,396301,581412,20725,2011,12,4,14,lunch bag red retrospot,3,2011-12-08 14:38:00,1.65,14415,United Kingdom,4.95
396302,396302,581412,23583,2011,12,4,14,lunch bag paisley park,3,2011-12-08 14:38:00,1.65,14415,United Kingdom,4.95
396303,396303,581412,20727,2011,12,4,14,lunch bag black skull.,1,2011-12-08 14:38:00,1.65,14415,United Kingdom,1.65
396307,396307,581412,23583,2011,12,4,14,lunch bag paisley park,2,2011-12-08 14:38:00,1.65,14415,United Kingdom,3.30
396308,396308,581412,20727,2011,12,4,14,lunch bag black skull.,3,2011-12-08 14:38:00,1.65,14415,United Kingdom,4.95
396408,396408,581413,23208,2011,12,4,14,lunch bag vintage leaf design,10,2011-12-08 14:39:00,1.65,16833,United Kingdom,16.50
396414,396414,581413,22662,2011,12,4,14,lunch bag dolly girl design,10,2011-12-08 14:39:00,1.65,16833,United Kingdom,16.50
396416,396416,581413,22382,2011,12,4,14,lunch bag spaceboy design,10,2011-12-08 14:39:00,1.65,16833,United Kingdom,16.50
396419,396419,581413,20727,2011,12,4,14,lunch bag black skull.,10,2011-12-08 14:39:00,1.65,16833,United Kingdom,16.50
396530,396530,581418,23681,2011,12,4,15,lunch bag red vintage doily,10,2011-12-08 15:02:00,1.65,17451,United Kingdom,16.50
396572,396572,581420,23207,2011,12,4,15,lunch bag alphabet design,10,2011-12-08 15:09:00,1.65,16358,United Kingdom,16.50
396573,396573,581420,20726,2011,12,4,15,lunch bag woodland,10,2011-12-08 15:09:00,1.65,16358,United Kingdom,16.50
396574,396574,581420,23209,2011,12,4,15,lunch bag vintage doily,10,2011-12-08 15:09:00,1.65,16358,United Kingdom,16.50
396575,396575,581420,23208,2011,12,4,15,lunch bag vintage leaf design,10,2011-12-08 15:09:00,1.65,16358,United Kingdom,16.50
396576,396576,581420,22382,2011,12,4,15,lunch bag spaceboy design,10,2011-12-08 15:09:00,1.65,16358,United Kingdom,16.50
396721,396721,581426,23206,2011,12,4,15,lunch bag apple design,1,2011-12-08 15:31:00,1.65,17757,United Kingdom,1.65
396970,396970,581450,20725,2011,12,4,17,lunch bag red retrospot,1,2011-12-08 17:54:00,1.65,16794,United Kingdom,1.65
396971,396971,581450,23206,2011,12,4,17,lunch bag apple design,2,2011-12-08 17:54:00,1.65,16794,United Kingdom,3.30
396972,396972,581450,23209,2011,12,4,17,lunch bag vintage doily,4,2011-12-08 17:54:00,1.65,16794,United Kingdom,6.60
397006,397006,581451,23583,2011,12,4,17,lunch bag paisley park,10,2011-12-08 17:57:00,1.65,17144,United Kingdom,16.50
397038,397038,581453,22383,2011,12,4,18,lunch bag suki design,10,2011-12-08 18:15:00,1.65,16401,United Kingdom,16.50
397047,397047,581453,23583,2011,12,4,18,lunch bag paisley park,10,2011-12-08 18:15:00,1.65,16401,United Kingdom,16.50
397255,397255,581473,23207,2011,12,4,19,lunch bag alphabet design,2,2011-12-08 19:57:00,1.65,12748,United Kingdom,3.30
397298,397298,581474,20726,2011,12,4,20,lunch bag woodland,1,2011-12-08 20:01:00,1.65,12748,United Kingdom,1.65
397465,397465,581486,23207,2011,12,5,9,lunch bag alphabet design,10,2011-12-09 09:38:00,1.65,17001,United Kingdom,16.50
397713,397713,581538,20727,2011,12,5,11,lunch bag black skull.,1,2011-12-09 11:34:00,1.65,14446,United Kingdom,1.65
397714,397714,581538,20725,2011,12,5,11,lunch bag red retrospot,1,2011-12-09 11:34:00,1.65,14446,United Kingdom,1.65
397877,397877,581581,23681,2011,12,5,12,lunch bag red vintage doily,10,2011-12-09 12:20:00,1.65,17581,United Kingdom,16.50
397880,397880,581583,20725,2011,12,5,12,lunch bag red retrospot,40,2011-12-09 12:23:00,1.45,13777,United Kingdom,58.00

#### Show the frequency distribution of the amount spent in Spain.

In [110]:
orders['amount_spent'].value_counts()

15.00      20082
19.80      11033
17.70       9174
16.50       8490
10.20       8028
1.25        7552
3.75        6847
4.95        6507
1.65        6228
10.50       5550
20.80       5524
2.95        5432
5.04        5284
2.50        5242
30.00       5226
7.50        5163
3.30        5063
8.50        4953
17.00       4899
9.90        4810
17.40       4394
14.85       4246
2.10        4041
15.30       3951
5.90        3669
2.55        3661
15.90       3562
13.20       3517
10.08       3248
0.85        3143
           ...
175.60         1
282.24         1
18.48          1
2118.74        1
449.28         1
1187.20        1
1910.40        1
125.55         1
716.40         1
1505.28        1
6.48           1
25.08          1
323.40         1
1024.00        1
72.93          1
892.50         1
425.76         1
362.70         1
480.24         1
13.34          1
101.60         1
725.04         1
120.45         1
159.50         1
436.80         1
1275.00        1
18.56          1
1.32           1
472.50         1
32.25          1
Name: amount_spent, Length: 2700, dtype: int64

#### Select all orders made in the month of August

In [112]:
orders[orders['month']==8]

,index,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
199475,199475,561904,22075,2011,8,1,8,6 ribbons elegant christmas,96,2011-08-01 08:30:00,1.45,17941,United Kingdom,139.20
199476,199476,561904,85049E,2011,8,1,8,scandinavian reds ribbons,156,2011-08-01 08:30:00,1.06,17941,United Kingdom,165.36
199477,199477,561905,21385,2011,8,1,9,ivory hanging decoration heart,24,2011-08-01 09:31:00,0.85,14947,United Kingdom,20.40
199478,199478,561905,84970L,2011,8,1,9,single heart zinc t-light holder,12,2011-08-01 09:31:00,0.95,14947,United Kingdom,11.40
199479,199479,561905,84970S,2011,8,1,9,hanging heart zinc t-light holder,12,2011-08-01 09:31:00,0.85,14947,United Kingdom,10.20
199480,199480,561905,84978,2011,8,1,9,hanging heart jar t-light holder,12,2011-08-01 09:31:00,1.25,14947,United Kingdom,15.00
199481,199481,561905,21754,2011,8,1,9,home building block word,3,2011-08-01 09:31:00,5.95,14947,United Kingdom,17.85
199482,199482,561905,23226,2011,8,1,9,filigree heart daisy white,24,2011-08-01 09:31:00,1.25,14947,United Kingdom,30.00
199483,199483,561905,21715,2011,8,1,9,girls vintage tin seaside bucket,8,2011-08-01 09:31:00,2.55,14947,United Kingdom,20.40
199484,199484,561905,21716,2011,8,1,9,boys vintage tin seaside bucket,8,2011-08-01 09:31:00,2.55,14947,United Kingdom,20.40
199485,199485,561905,21746,2011,8,1,9,small red retrospot windmill,12,2011-08-01 09:31:00,1.25,14947,United Kingdom,15.00
199486,199486,561905,21755,2011,8,1,9,love building block word,3,2011-08-01 09:31:00,5.95,14947,United Kingdom,17.85
199487,199487,561906,22367,2011,8,1,10,childrens apron spaceboy design,8,2011-08-01 10:03:00,1.95,12921,United Kingdom,15.60
199488,199488,561906,20914,2011,8,1,10,set/5 red retrospot lid glass bowls,6,2011-08-01 10:03:00,2.95,12921,United Kingdom,17.70
199489,199489,561906,21240,2011,8,1,10,blue polkadot cup,16,2011-08-01 10:03:00,0.85,12921,United Kingdom,13.60
199490,199490,561906,20725,2011,8,1,10,lunch bag red retrospot,20,2011-08-01 10:03:00,1.65,12921,United Kingdom,33.00
199491,199491,561906,20726,2011,8,1,10,lunch bag woodland,20,2011-08-01 10:03:00,1.65,12921,United Kingdom,33.00
199492,199492,561906,22382,2011,8,1,10,lunch bag spaceboy design,10,2011-08-01 10:03:00,1.65,12921,United Kingdom,16.50
199493,199493,561906,22629,2011,8,1,10,spaceboy lunch box,12,2011-08-01 10:03:00,1.95,12921,United Kingdom,23.40
199494,199494,561906,22384,2011,8,1,10,lunch bag pink polkadot,20,2011-08-01 10:03:00,1.65,12921,United Kingdom,33.00
199495,199495,561906,23206,2011,8,1,10,lunch bag apple design,20,2011-08-01 10:03:00,1.65,12921,United Kingdom,33.00
199496,199496,561906,23209,2011,8,1,10,lunch bag doiley pattern,20,2011-08-01 10:03:00,1.65,12921,United Kingdom,33.00
199497,199497,561906,22898,2011,8,1,10,childrens apron apples design,8,2011-08-01 10:03:00,1.95,12921,United Kingdom,15.60
199498,199498,561906,21035,2011,8,1,10,set/2 red retrospot tea towels,6,2011-08-01 10:03:00,3.25,12921,United Kingdom,19.50
199499,199499,561906,21217,2011,8,1,10,red retrospot round cake tins,6,2011-08-01 10:03:00,9.95,12921,United Kingdom,59.70
199500,199500,561906,21155,2011,8,1,10,red retrospot peg bag,6,2011-08-01 10:03:00,2.55,12921,United Kingdom,15.30
199501,199501,561906,21154,2011,8,1,10,red retrospot oven glove,10,2011-08-01 10:03:00,1.25,12921,United Kingdom,12.50
199502,199502,561906,21094,2011,8,1,10,set/6 red spotty paper plates,12,2011-08-01 10:03:00,0.85,12921,United Kingdom,10.20
199503,199503,561906,21080,2011,8,1,10,set/20 red retrospot paper napkins,12,2011-08-01 10:03:00,0.85,12921,United Kingdom,10.20
199504,199504,561906,84991,2011,8,1,10,60 teatime fairy cake cases,24,2011-08-01 10:03:00,0.55,12921,United Kingdom,13.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226458,226458,565067,85183B,2011,8,3,17,charlie & lola wastepaper bin flora,4,2011-08-31 17:16:00,1.25,15856,United Kingdom,5.00
226459,226459,565067,22065,2011,8,3,17,christmas pudding trinket pot,4,2011-08-31 17:16:00,1.45,15856,United Kingdom,5.80
226460,226460,565067,22900,2011,8,3,17,set 2 tea towels i love london,5,2011-08-31 17:16:00,3.25,15856,United Kingdom,16.25
226461,226461,565067,21508,2011,8,3,17,vintage kid dolly card,12,2011-08-31 17:16:00,0.42,15856,United Kingdom,5.04
226462,226462,565067,22713,2011,8,3,17,card i love london,12,2011-08-31 17:16:00,0.42,15856,United Kingdom,5.04
226463,226463,565067,22716,2011,8,3,17,card circus parade,12,2011-08-31 17:16:00,0.42,15856,United Kingdom,5.04
226464,226464,565067,21558,2011,8,3,17,skull lunch box with cutlery,1,2011-08-31 17:16:00,2.55,15856,United Kingdom,2.55
226465,226465,565067,22352,2011,8,3,17,lunch box with cutlery retrospot,1,2011-08-31 17:16:00,2.55,15856,United Kingdom,2.55
226466,226466,565067,84569A,2011,8,3,17,pack 3 iron on dog patches,6,2011-08-31 17:16:00,1.25,15856,United Kingdom,7.50
226467,226467,565067,84569D,2011,8,3,17,pack 6 heart/ice-cream patches,6,2011-08-31 17:16:00,1.25,15856,United Kingdom,7.50
226468,226468,565067,84559A,2011,8,3,17,3d sheet of dog stickers,3,2011-08-31 17:16:00,0.85,15856,United Kingdom,2.55
226469,226469,565067,84559B,2011,8,3,17,3d sheet of cat stickers,3,2011-08-31 17:16:00,0.85,15856,United Kingdom,2.55
226470,226470,565067,84558A,2011,8,3,17,3d dog picture playing cards,4,2011-08-31 17:16:00,2.95,15856,United Kingdom,11.80
226471,226471,565067,22189,2011,8,3,17,cream heart card holder,1,2011-08-31 17:16:00,3.95,15856,United Kingdom,3.95
226472,226472,565067,22188,2011,8,3,17,black heart card holder,1,2011-08-31 17:16:00,3.95,15856,United Kingdom,3.95
226473,226473,565067,22224,2011,8,3,17,white lovebird lantern,4,2011-08-31 17:16:00,2.95,15856,United Kingdom,11.80
226474,226474,565067,21248,2011,8,3,17,door hanger mum + dads room,3,2011-08-31 17:16:00,1.45,15856,United Kingdom,4.35
226475,226475,565067,22109,2011,8,3,17,full english breakfast plate,3,2011-08-31 17:16:00,3.75,15856,United Kingdom,11.25
226476,226476,565067,22107,2011,8,3,17,pizza plate in box,3,2011-08-31 17:16:00,3.75,15856,United Kingdom,11.25
226477,226477,565067,84519B,2011,8,3,17,carrot charlie+lola coaster set,3,2011-08-31 17:16:00,1.25,15856,United Kingdom,3.75
226478,226478,565067,21559,2011,8,3,17,strawberry lunch box with cutlery,2,2011-08-31 17:16:00,2.55,15856,United Kingdom,5.10
226479,226479,565067,22352,2011,8,3,17,lunch box with cutlery retrospot,1,2011-08-31 17:16:00,2.55,15856,United Kingdom,2.55
226480,226480,565067,21558,2011,8,3,17,skull lunch box with cutlery,1,2011-08-31 17:16:00,2.55,15856,United Kingdom,2.55
226481,226481,565067,22616,2011,8,3,17,pack of 12 london tissues,12,2011-08-31 17:16:00,0.29,15856,United Kingdom,3.48
226482,226482,565067,16048,2011,8,3,17,teatime round pencil sharpener,24,2011-08-31 17:16:00,0.12,15856,United Kingdom,2.88
226483,226483,565067,22644,2011,8,3,17,ceramic cherry cake money bank,2,2011-08-31 17:16:00,1.45,15856,United Kingdom,2.90
226484,226484,565067,22645,2011,8,3,17,ceramic heart fairy cake money bank,2,2011-08-31 17:16:00,1.45,15856,United Kingdom,2.90
226485,226485,565067,22637,2011,8,3,17,piggy bank retrospot,2,2011-08-31 17:16:00,2.55,15856,United Kingdom,5.10
226486,226486,565067,22646,2011,8,3,17,ceramic strawberry cake money bank,2,2011-08-31 17:16:00,1.45,15856,United Kingdom,2.90
226487,226487,565067,22741,2011,8,3,17,funky diva pen,48,2011-08-31 17:16:00,0.85,15856,United Kingdom,40.80

#### Select how many orders are made by countries in the month of August
##### Hint: Use value_counts()

In [114]:
orders[orders['month']==8]['Country'].value_counts()

United Kingdom     23105
Germany              795
EIRE                 593
France               569
Netherlands          280
Switzerland          267
Spain                252
Belgium              194
Israel               171
Channel Islands      140
Australia            107
Italy                 95
Austria               88
Norway                77
Finland               61
Malta                 55
Portugal              41
Sweden                40
Unspecified           23
Iceland               22
Poland                17
Denmark               16
Canada                 5
Name: Country, dtype: int64

#### What's the  average amount of money spent by country

In [119]:
orders.groupby('Country').mean()[['amount_spent']]

                      amount_spent
Country
Australia               116.895620
Austria                  25.624824
Bahrain                  32.258824
Belgium                  20.283772
Brazil                   35.737500
Canada                   24.280662
Channel Islands          27.340160
Cyprus                   22.134169
Czech Republic           33.069600
Denmark                  49.882474
EIRE                     36.687745
European Community       21.670833
Finland                  32.913985
France                   25.056827
Germany                  25.311562
Greece                   32.831172
Iceland                  23.681319
Israel                   29.119718
Italy                    23.064960
Japan                   116.561900
Lebanon                  37.641778
Lithuania                47.458857
Malta                    24.335625
Netherlands             120.798282
Norway                   33.736418
Poland                   22.226212
Portugal                 22.872702
RSA                      17.281207
Saudi Arabia             16.213333
Singapore                95.852658
Spain                    24.779521
Sweden                   85.096075
Switzerland              30.642752
USA                      20.002179
United Arab Emirates     27.974706
United Kingdom           20.625073
Unspecified              10.930615

#### What's the most expensive item?

In [120]:
orders[orders['UnitPrice']==orders['UnitPrice'].max()]

,index,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
118352,118352,551697,POST,2011,5,2,13,postage,1,2011-05-03 13:46:00,8142.75,16029,United Kingdom,8142.75

#### What was the average amount spent per year ?

In [123]:
orders.groupby('year').mean()[['amount_spent']]

      amount_spent
year
2010     21.892733
2011     22.430074